body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input, button {
    margin: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    background-color: #d3ffd3;
}
